
.header a {
	color: #fff;
	text-decoration: none;
}

body, p{
	margin: 0;
	padding: 0;
}

.block_header{
	flex-direction: column;
	min-width:1100px;
}

.header {
	display: flex;
	height: 20px;
	justify-content: space-between;
	padding: 10px;
	font-family: Helvetica;
	color: white;
	background: linear-gradient(to top,#01b8c1,#00A0AB);
}

.header_item, .headerButton img {
	width: 20px;
	height: 20px;
}

.header_section, .header_section_two{
	display: flex;
	align-items: center;
}

.header_item{
	padding:5px 10px;
	font-size: 10px;
	margin-left: 5px;
}

.header_section div:first-child{
	margin-right: 30px;
	padding: 10px 0px;

}

.header_item:hover{
	background-color: #ff9900;
	border-radius: 4px;
}

.headerButton{
	cursor: pointer;
}

.logo{
	align-items: center;
	font-size: 20px;
}


.header_section_half div{
	padding-left: 20px;
	padding-right: 20px;

}
.header_section_half div:hover{
	background-color: #ff9900;
	border-radius: 4px;
	cursor: pointer;
}
