
.menu{
	font-size: 18px;
	color: white;
	display: flex;
	flex-direction: column;
	margin: 15px 15px 15px 15px  ;
	width: 230px;
	height: 600px;
/*	background: #252626;*/
}

a {
	color:white
}

.menu div{
  border-radius: 4px;
	text-align: center;
	padding: 10px;
	width: 200px;
}

.menu div:hover{
	background: #242424;
}

.menu div img{
	position: relative;
	top: -3px;
	margin-right: 10px;
	align-items: center;
	width: 20px;
	height: 20px;
}
