.recommend_root{
  display: flex;
  flex-direction: column;
}

.root_small{
  width: 550px;
}

.recommend{
  display: flex;
  justify-content: space-between;
  font-family: Roboto,Helvetica ;
}

.recommend > div{
    display: flex;
    flex-direction: column;
}

.recommend >  div:nth-child(1){
    margin: 10px;

}


.black_line{
  width: 100%;
  height: 15px;
  border-radius: -15px;
  background-color: black;
}


.new_songs_img{
  margin: 0 10px 10px 0;
  width: 200px;
  height: 130px;
}

.specially_for_you{
  margin-left: 5px;
  font-size: 22px;
}

.new_songs {
  margin-top: 10px;
  color: grey;
  font-size: 18px;
}

#listen_all{
  font-size: 17px;
  margin-top: 20px;
  margin-left: 50px;
  width: 140px;
  height: 30px;
  background-color: #00A8B0;
  border-radius: 10px;
}

#novelty{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 685px;
  background: white;

}

#novelty_text > p {
  font-size: 25px;
}

#novelty_text{
  margin: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  height: 25px;
}

#show_all > img{

    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 4px;
}

#show_all:hover{
    text-decoration: underline;
}

#show_all{
  width: 115px;
  cursor: pointer;
}


#novelty_list ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#novelty_list li{
  cursor: pointer;
  list-style-type: none;
  border-radius: 5px;
  width: 330px;
  height: 50px;
  margin-top: 5px;
  margin: 5px 4px 0 4px;
}


#novelty_list li:nth-child(2n){
  margin-left: 5px;

}

#novelty_list li > div{
  padding: 2px 2px 2px 3px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icon{
  margin-right: 5px;
  border-radius: 4px;
  width: 45px;
  height: 45px;
}
.list_music_inf{
  margin-top: 3px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list_music_inf span + span{
  color: grey
}

.list_music_time{
  margin-bottom: 25px;
  margin-right: 5px;
}
