#LoginPage{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#header{
  min-width: 900px;
	background: #00A0AB;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

#logo{
  margin-right: 10% ;
  margin-left: 10%;
  width: 70px;
  height: 40px;
}

#searchImg{
  position: relative;
  z-index: 2;
  left: 24px;
  width: 25px;
  height: 25px;
}

#search{
  border: none;
  border-radius: 10px;
  height: 20px;
}

#loginMainBody{
  background: #ECEDEF;
  display: flex;
  height: 600px;
  width: 100%;
}

#aboutAs{
  height: 100%;
  width: 50%;
  background: blue;
}

#forms{
  display: flex;
  flex-direction: column;
}

#logIn{
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 25px 50%;
  background: #ffffff;
  width: 320px;
  height: 190px;
}

#phoneAndEmail , #password, #firstName, #lastName{
  height: 25px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 15px 25px 0 25px;
  background: #fff;
  border: 1px solid #d3d9de;
}

#logIn div{
  margin: 15px  25px 0  25px;
  display: flex;

}

#logInBtn{
  background-color: #5181b8;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 7px 16px 8px;
  border-radius: 3px;
}

#logIn p{
  padding-left: 29px;
  padding-top: 7px;
  color: #2a5885;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}


#signUp{
  display: flex;
  flex-direction: column;
  margin: 0 50%;
  background: white;
  border-radius: 3px;
  width: 320px;
  height: 320px;
}

#birthDay{
  display: flex;
  margin-left: 25px;
}

#birthDay input{
  width: 60px;
  padding: 5px 10px;
  height: 25px;
  border-radius: 3px;
  margin: 15px 0 0 5px;
  background: #fff;
  border: 1px solid #d3d9de;
}



#signUp p:nth-child(1){
  margin: 5px auto;
  font-size: 20px;
}

#dateTxt{
  margin: 10px 0 0 25px;
  font-weight: 500;
  color: #939393
}

#signUp button{
  background-color: #5fb053;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
  padding: 7px 16px 8px;
  cursor: pointer;
  margin: 20px 25px 0 25px;
  color: #fff;
  border: 0;
  font-size: 15px;
}
